html,
body {
    height: 100%;
    margin: 0;
    font-family: "Montserrat";
}

.navbar {
    border-bottom: 4px solid #f0f0f0;
}

.navbar a img {
    margin-left: 35%;
}

.navbar ul {
    margin-right: 7.5%;
}

main {
    margin-top: 9%;
}

.hero {
    display: flex;
}

.hero-img,
.hero-text {
    flex: 1;
}

.hero-img img {
    margin-left: 20%;
}

.hero-text {
    margin: 4% 5% 5%;
}

.hero-text h4 {
    display: inline-block;
    color: white;
    background-color: #13ec13;
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 15px;
}

.hero-text h1 {
    font-family: "Montserrat-Bold";
    font-weight: bold;
    font-size: 5rem;
    line-height: 5.5rem;
}

.hero-text p {
    margin-right: 30%;
    margin-bottom: 5%;
    font-family: "Montserrat-Bold";
    font-weight: bold;
    font-size: 1rem;
}

.hero-text a {
    text-decoration: none;
    color: #ffffff;
    background-color: #ffc04d;
    padding: 12px 15px;
    font-size: 25px;
}

.container-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 7% auto;
    width: 65%;
}

.card-box {
    width: 25%;
    display: flex;
}

.card-box:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.card-img {
    width: 35%;
}

.card-img img {
    max-width: 100%;
}

.card1 {
    margin-left: 5%;
}

.card3 {
    margin-right: 5%;
}

.card-text {
    width: 70%;
}

.card-text h3 {
    font-family: "Montserrat-Bold";
    font-weight: bolder;
    font-size: 1.2rem;
}

.card-text p {
    font-family: "sans-serif";
    font-size: 1rem;
    margin: 0;
    line-height: 1rem;
}

.line {
    height: 0.1%;
    width: 100%;
    margin-top: -3.75%;
    margin-bottom: 10%;
    border-bottom: 2px solid #B8B8B8;
}

.menu {
    text-align: center;
    margin-top: -5%;
}

.menu a {
    text-decoration: none;
    background-color: #13ec13;
    padding: 12px 15px;
    font-size: 25px;
}

.menu h1 {
    margin: 2.5% auto;
}

.container-box {
    display: grid;
    height: 130%;
    width: 85%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    grid-gap: 25px;
    margin: 1% auto 0;
}

.item1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
}

.item2 {
    grid-row: 1 / span 2;
    grid-column: 3 / span 1;
}

.item4 {
    grid-row: 2 / span 2;
    grid-column: 4 / span 1;
}

.item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: transform 0.4s ease-in-out;
}

.item:hover img {
    transform: scale(1.05);
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #FFEFD5;
    margin-top: 10%;
}

.footer-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 75%;
    margin-top: 3%;
}

.footer-box a {
    display: block;
    text-decoration: none;
    font-size: 0.9rem;
    color: black;
}

.footer-box h4 {
    font-size: 1.2rem;
    color: #202020;
    font-family: "Montserrat-Bold";
}

.main-link-tags,
.support-tags {
    margin-top: 15%;
}

.social input {
    width: 95%;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 13px;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 7.5%;
}

.icon i {
    font-size: 25px;
}


@media (max-width: 768px) {

    .navbar a img {
        margin-left: 0%;
    }

    main {
        margin-top: 30%;
    }

    .hero-text h1 {
        font-family: "Montserrat-Bold";
        font-weight: bold;
        font-size: 3.25rem;
        line-height: 3.5rem;
    }

    .hero-text p {
        margin: 2.5% 0% 7.5%;
    }

    .container-box {
        height: 100%;
        width: 98%;
        margin: 1% auto 0;
    }

}

@media (max-width: 992px) {

    .hero {
        flex-direction: column;
    }

    .hero-img img {
        text-align: center;
        margin: auto;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .hero-text {
        text-align: center;
        margin-top: 7.5%;
    }

    .container-card {
        flex-direction: column;
        width: 100%;
    }

    .card-box {
        width: 100%;
    }

    .card-img {
        width: 25%;
        margin-left: 2.5%;
    }

    .card-img img {
        max-width: 100%;
    }

    .card-text {
        width: 70%;
    }

    .card1,
    .card2,
    .card3 {
        margin: 0%;
    }

    .line {
        margin-top: 2%;
    }

    .menu h1 {
        margin-top: 5% auto;
    }

    .footer-box {
        width: 100%;
    }

    .support,
    .main-link,
    .social {
        margin-top: 5%;
    }

    .main-link-tags,
    .support-tags {
        margin-top: auto;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {

    .navbar a img {
        margin-left: 20%;
    }

    .navbar-toggler {
        margin-right: 5%;
    }

    main {
        margin-top: 17.5%;
    }

    .hero-text h4 {
        font-family: "Montserrat-Bold";
        font-weight: bold;
        font-size: 1.75rem;
    }

    .hero-text h1 {
        font-family: "Montserrat-Bold";
        font-weight: bolder;
        font-size: 4rem;
        line-height: 4.5rem;
    }

    .hero-text p {
        margin: 2.5% 0% 7.5%;
        font-size: 1.5rem;
    }
}